<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HiddenFormField</display-name>
  <servlet>
  <servlet-name>HiddenFormField</servlet-name>
  <servlet-class>FormField</servlet-class></servlet>
  <servlet-mapping>
  <servlet-name>HiddenFormField</servlet-name>
  <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>HiddenFormField1</servlet-name>
  <servlet-class>FormField2</servlet-class></servlet>
  <servlet-mapping>
  <servlet-name>HiddenFormField1</servlet-name>
  <url-pattern>/FormField2</url-pattern>
  </servlet-mapping>
</web-app>